@font-face {
    font-family: apache;
    src: url(../fonts/AldotheApache.ttf);
  }
  @font-face {
    font-family: gravity;
    src: url(../fonts/Gravity-Regular.otf);
  }
  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

  //BACKGROUNDS
  html {
    scroll-behavior: smooth;
  }
body{
    background-color: #fcf6f6;
    color: rgb(70, 29, 29);
}
//CHAT ROOM //
#chatroom {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#pass,#alias {
    width: 50%;
    padding: 5px;
    margin-bottom: 15px;
}
#in,#up,#speak {
        display: inline-block;
        border: 2px solid #461d1d;
        color: #461d1d;
        border-radius: 7px;
        width: 150px;
        height: 30px;
        font-weight: 500;
    }
 #in,#up,#speak:hover {
        color:#fcf6f6;
        background-color: #461d1d;
}
#said {
    margin-left: 15px;
}
ul {
  list-style-type: none; 
    li {  
    width: auto; 
    margin-top: 15px;
    background-color:rgb(9, 159, 228);
    color: white;
    border-radius: 15px;
    }
}
/// Card Container ///
.container {
    display: flex;
    justify-content: center;
}
/// Cards ///
.cards {
    width: 60%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
}
.btc,
.cosmos,
.ethereum {
    display: grid;
    max-width: 300px;
    min-width: 250px;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50px, 60px) 1fr;
    grid-template: 
        "info"
        "chart";
    border-radius: 30px;
}
.btc {
    box-shadow: 10px 10px 20px 1px rgba(247,147,26,.15);
}
.cosmos {
    box-shadow: 10px 10px 20px 1px rgba(46,49,72,.15);
}
.ethereum {
    box-shadow: 10px 10px 20px 1px rgba(78,56,216,.15);
}
.asset-info {
    grid-area: info;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
}
.addresses {
display: inline-flex;
float: left;
max-width: 30%;
}
/// Charts ///
#btcChart,
#cosmosChart,
#ethereumChart {
    grid-area: chart;
    border-radius: 0px 0px 30px 30px;
    margin-top: auto;
}



.headparralax{
    /* The image used */
    background-image: url(../images/parralax1.png);
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
  }
  
.callout.primary, .off-canvas.position-left.reveal-for-large {
    background-color: #fcf6f6; 
    height: 100%;
}
.off-canvas-content{ 
    background: none;
}
.callout.primary {
    border: none;
}
.callout {
    background: none; 
}
.spacefiller {
    min-height: 500px;
}
//NAV 
.outernav {
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    line-height: 70px;
    background: #fcf6f6; 
    color: #461d1d;
    z-index: 999;
    font-size: 22px;
}
    .menuspacer {
    margin-left: 25px;
    margin-right: 25px;
    visibility: hidden;
    margin-right: 25px;
    margin-left: 25px;
}
.menunavs {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    line-height: 70px;
}
.menu-link {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: gravity;
    font-weight: 700;
    a {
        color:#461d1d;
    }
    a:hover {
        color: #56E87F;
    }
}
.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}
//About me
.hr {
    height: 4px;
    width: 50%;
    margin: 50px auto 50px auto;  
    background-color: #461d1d;
}
.lead {
    width: 50%;
    text-align: center;
    margin: 0 auto 0 auto;  
}
.socials {
    list-style: none;
    display: inline-block;
    width: 20%;
    text-align: center;
    margin: 0 auto 50px auto;
    li {
        list-style-type: none;
        }
    a { 
        color:#461d1d;
    }
    a:hover {
        color:#56E87F;
    }
}
.skills {
    width: 40%;
    float: left;
    text-align: center;
    li {
    list-style-type: none;
    }
}
.languages {
    width: 40%;
    float: right;
    text-align: center;
    li{
    list-style-type: none;
    }
}
//PORTFOLIO WORKS 
.portfolioitems {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 90px;
}
.portfolio-item {
    width: 1200px;
    margin: 0 auto;
    min-height: 350px;
    margin-bottom: 90px;
    list-style-type: none;
    border-radius: 10px;
    padding: 15px;
}
.portfolio-item-text {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 350px;
    font-size: 17px;
    margin-bottom: 40px;
}
.portfolio-item-text.desktop {
display: none;
}
.portfolio-item-title {
    font-size: 48px;
    line-height: 1em;
    margin-bottom: 30px;
}
.view-portfolio-item {
    display: inline-block;
    border: 2px solid #461d1d;
    color: #461d1d;
    border-radius: 7px;
    text-align: center;
    line-height: 70px;
    width: 300px;
    height: 70px;
    font-weight: 500;
}
.view-portfolio-item:hover {
    color:#fcf6f6;
    background-color: #461d1d;
}
.portfolio-item-image {
        position: relative;
        display: inline-block;
        width: 701px;
        height: 350px;
        margin-left: 50px;
}

.portfolio-item-image:first-child {
    margin-left: 50px;
    margin-right: 50px;
}

//CONTACT

.button {
    background-color: #fcf6f6;
    color: #461d1d;
    border: 2px solid #461d1d;
    border-radius: 7px;
}
.button:hover {
    color:#fcf6f6;
    background-color: #461d1d;
    border: 2px solid #461d1d;
}
#contactform {
    max-width: 75rem;
    margin: auto;
}
.contact-us-section {
    span {
        font-weight: bold;
    }
    li {
        line-height: 30px;
        list-style-type: none;
          a {
                color:#461d1d;
                font-style: italic;
            }
            a:hover {
                color: #56E87F;
            }
    } 
}

//IMAGES
.thumbnail {
 height: 100px;
 width: 100px;
 }
 #portrait {
     height: 30%;
     width: 20%;
     display: block;
     margin-right: auto;
     margin-left: auto;
}

//LINKS 
.sidenav {
    a { 
        color: rgb(70, 29, 29);
        }
    a:hover {
            text-decoration: underline;
        }
}
//FONTS & COLOURS
    h2{ 
    font-family: gravity;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    color: rgb(70, 29, 29);
    font-size: 77px;
    }
    h3,h4{
        font-family: gravity;
        font-weight: bold;
        color: rgb(70, 29, 29);
    }
    .column h5 {
        font-family: gravity;
        font-weight: bold;
        color: rgb(70, 29, 29);
    }
.row.column {
    h5 {
    font-family: gravity;
    font-weight: bold;
    }
    p {
    font-size:0.9em
    }
}

/* For mobile phones: */
  
@media only screen and (max-width: 768px) {
    /* For Mobile */
    .headparralax{
        display: none;
  }
  #portrait {
    height: 50%;
    width: 40%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

  //ABOUT ME
  
  .lead {
      width: 100%;
  }
  .languages {
    width: 100%;
    text-align: center;
    margin: 0 auto 0 auto;
    float: left;
  }
  .skills {
    width: 100%;
    text-align: center;
    margin: 0 auto 0 auto;
    display: inline;
  }
  .socials {
    width: 100%;
    text-align: center;
    margin: 0 auto 0 auto;
    display: inline;
    i {
        display: none;
    }
  }
  //PROJECTS
  #myprojects {
      .hr {
          display: none;
      }
  }
  .portfolioitems {
    width: 100%;
    .portfolio-item {
        width: 100%;
    }
    .portfolio-item-image {
        width: 100%;
        height: auto;
        margin: auto;
    }
    .portfolio-item-text {
        min-width: 100%;
        margin: 0 auto 0 auto;
        text-align: center;
        padding-top: 20px;
        margin-bottom: 20px;
        
    }
    .portfolio-item-text.mobile {
        display: none;
    }
    .portfolio-item-text.desktop {
        display: inline-block;
    }
}
}
//CONTACT 
#contactform {
    width: 80%;
    margin: auto;
}